@page
@model CRM.Pages.ListenersModel
@{
    Layout = null;
}
<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/listeners_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/base.js"></script>
    <script type="text/javascript" src="/js/listeners.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
    <div class="panel">
        <div style="width:25%;">
            <input type="search" class="search" placeholder="поиск">
            <ul id="ListSubj">
                <button class="add">+</button>
            </ul>
        </div>
        <div class = "item">
            <div id="current" style="height:93%;margin-top: 5%;">
                <form>
                    <ul>
                        <li>
                            <p>Наименование</p>
                            <input type="text" id="name">
                        </li>
                        <li>
                            <p>Активен</p>
                            <input type="checkbox" id="dealing" /><label for="dealing"></label>
                        </li>
                        <li>
                            <p>Адрес</p>
                            <input type="text" id="address" required/>
                        </li>
                        <li>
                            <p>Сервер</p>
                            <input type="text" id="server" required />
                        </li>
                        <li>
                            <p>Токен</p>
                            <input type="text" id="token" required/>
                        </li>
                        <li>
                            <p>Папка для входящей почты</p>
                            <select id="selectFolder">
                                <option>INBOX</option>
                                <option>ii</option>
                                <option>BOX</option>
                            </select>
                        </li>
                        <li>
                            <p>Комментарий</p>
                            <textarea></textarea>
                        </li>
                        <div class="option_btns">
                            <button>Удалить</button>
                            <button type="submit">Сохранить</button>

                        </div>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</body>
</html>