@page
@model CRM.Pages.MainPageModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/main_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <title>Main</title>
</head>
<body>
    <ul class="user_panel invisible">
        <li><button class="settingsButton">settings</button></li>
        <li><button>logout</button></li>
    </ul>
    <header>
        <a href="#"><img src="https://i.pinimg.com/564x/f5/38/e6/f538e62cef02ac6f733ef120dec71ed7.jpg" style="height:100%;"></a>
        <button class="user_button">
            <p id="user_id" name="user_id" class="invisible">@Model.id</p>
            <p id="user_name" name="user_name">@Model.username</p>
            <img id="user_img" src=@Model.avatar>
        </button>
    </header>
    <div class="main_block">
        <ul>
            <li><button>все заявки</button></li>
            <li><button>мои заявки</button></li>
            <li><button>приемники</button></li>
            <li><button>заявители</button></li>
            <li><button>работники</button></li>
        </ul>
        <div class="changed_panel">
            <img class="load" src="/images/load.gif"/>
            <div></div>
        </div>
    </div>
</body>
</html>