button {
    width: 100%;
    background: transparent;
    border: 0px solid transparent;
    border-radius: 0.7vh;
    color: white;
    padding: 4% 6%;
    font-size: 100%;
    text-align: left;
}

button:not(.history_button,.select2-selection__choice__remove):hover {
    background: #0460D9 !important;
}
#currentMail {
    visibility: visible;
    overflow-y: scroll;
    height: 100%;
    width: 68%;
    margin-right: 2%;
    background: white;
    padding: 0;
}

#currentParameters{
    width: 28%;
    padding: 0;
    position: relative;
}

#currentParameters li >*{
    width: 100% ;
    font-size: 2vh;
}

#currentParameters li{
    margin-bottom: 5%;
}

textarea{
    max-width: 95%;
    min-width: 95%;
    min-height: 10%;
    max-height: 10%;
    font-size: 1.5vh !important;
    border-radius: 0.5vh;
    padding: 2%;
}

.option_btns{
    display:block;
    position: absolute;
    width: 100%;
    bottom: 1%;
}
    .option_btns button {
        width: 100%;
        padding: 5%;
        text-align: center;
        margin-top: 3%;
    }

.commentsHistory {
    display: flex;
    flex-direction: column;
    height: 60%;
    background: white;
    margin-bottom: 2%;
    border-radius: 2%;
    overflow-y: scroll;
}

.commentsHistory div{
    font-size: 2vh;
    width: 70%;
    padding: 2%;
    border-radius: 0.5vh;  
    color: black;
    border: 0.15vw solid #0460D9;
}

.commentsHistory div p{
    border-radius: 0.5vh;
    text-transform: uppercase;
    font-weight: bold;
    color: #0460D9;
}


.RequesterComm{
    margin: 3%;
    margin-left: 21%;

}
.UserComm{
    margin: 3%;
    margin-right: 20%;
}
.history_button{
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("../images/history.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    border: 1px solid transparent;
    height: 5vh;
    width: 5vh;
    padding: 2%;
    cursor: pointer;
}
.history_button:hover{
    border-color: white;
}
.history_button:active {
   transform: scale(0.95);
}
.history_block{
    position: absolute;
    width: 120%;
    height: 50%;
    left: -34%;
    top: 0.5vh;
    border-radius: 1vh;
    border: 2px solid #0460D9;
    z-index: 1000;
    box-shadow: 0px 3px 10px #0460D9;
    background: white;
}
.history { 
    width: 95%;
    height: 90%;
    margin-top: 5%;
    position: relative;
    overflow-y: scroll;
    color: black;
}
.history p{
    text-align: center;
    margin-top: 2%;
    font-size: 2vh;
}
.pointer{
    position: absolute;
    height: 1vh;
    width: 1vh;
    background: ivory;
    transform: rotate(315deg);
    border-radius: 0 0 0.3vh 0;
    border: 2px solid #0460D9;
    border-left: none;
    border-top: none;
    z-index: 1000;
    top: 3%;
    right: -0.8vh;
}
.invisible {
    visibility: hidden;
}